
@{
    ViewBag.Title = "Showcart";
}

<h2>Showcart</h2>
<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Price</th>
    </tr>
    @foreach (var b in Model)
    {
        <tr>
            <td>@b.name</td>
            <td>@b.price</td>
        </tr>
    }
</table>
