<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Welcome<br></h1>
    <div>
        @RenderBody()
    </div>
    <h3>copyright</h3>
</body>
</html>
